@use './variables' as *;

.vditor {
  border: 1px solid $border-color !important;
  border-radius: $border-radius !important;
  font-family: inherit !important;

  .vditor-toolbar {
    border-bottom: 1px solid $border-color !important;
    background: $bg-primary !important;
  }

  .vditor-content {
    font-size: 14px !important;
    line-height: 1.7 !important;
  }

  .vditor-ir, .vditor-sv, .vditor-wysiwyg {
    padding: 16px 20px !important;
  }

  .vditor-preview {
    padding: 16px 20px !important;
  }
}
